https://thumbs.dreamstime.com/b/hot-pot-bibimbob-8617774.jpg

a {
	background-color: gray;
}

body {
	background-image: url("https://thumbs.dreamstime.com/b/hot-pot-bibimbob-8617774.jpg");
	background-size: 
	background-repeat: 
	
}